<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="kosta1200.todayroom.vo.AdminVO" alias="admin"/>
		<typeAlias type="kosta1200.todayroom.vo.BasketVO" alias="basket"/>
		<typeAlias type="kosta1200.todayroom.vo.BoardVO" alias="board"/>
		<typeAlias type="kosta1200.todayroom.vo.CommentsVO" alias="comments"/>
		<typeAlias type="kosta1200.todayroom.vo.ConstVO" alias="const"/>
		<typeAlias type="kosta1200.todayroom.vo.ContractorVO" alias="contractor"/>
		<typeAlias type="kosta1200.todayroom.vo.FaqVO" alias="faq"/>
		<typeAlias type="kosta1200.todayroom.vo.FollowVO" alias="follow"/>
		<typeAlias type="kosta1200.todayroom.vo.KnowhowVO" alias="knowhow"/>
		<typeAlias type="kosta1200.todayroom.vo.MemberVO" alias="member"/>
		<typeAlias type="kosta1200.todayroom.vo.One_inquiryVO" alias="oneInquiry"/>
		<typeAlias type="kosta1200.todayroom.vo.ProductVO" alias="product"/>
		<typeAlias type="kosta1200.todayroom.vo.Product_inquiryVO" alias="productInquiry"/>
		<typeAlias type="kosta1200.todayroom.vo.ReportVO" alias="report"/>
		<typeAlias type="kosta1200.todayroom.vo.ReviewVO" alias="review"/>
		<typeAlias type="kosta1200.todayroom.vo.RoomwarmingVO" alias="roomwarming"/>
		<typeAlias type="kosta1200.todayroom.vo.ScrapVO" alias="scrap"/>
		<typeAlias type="kosta1200.todayroom.vo.ShippingVO" alias="shipping"/>
		<typeAlias type="kosta1200.todayroom.vo.ShoporderVO" alias="shoporder"/>
		<typeAlias type="kosta1200.todayroom.vo.VendorVO" alias="vendor"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
				<dataSource type="JNDI">
					<property name="data_source" value="java:comp/env/jdbc/oracle"/>
				</dataSource>
		</environment>		
	</environments>

	<mappers>
<!-- 	<mapper resource="kosta1200/todayroom/mapper/Admin.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Basket.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Contractor.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Faq.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Follow.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Knowhow.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/OneInquiry.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Report.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Review.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Scrap.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Shipping.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Shoporder.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Board.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Vendor.xml"/> -->
		
		<mapper resource="kosta1200/todayroom/mapper/Roomwarming.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/ProductInquiry.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Product.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Comments.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Const.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Store.xml"/>
		<mapper resource="kosta1200/todayroom/mapper/Member.xml"/>
	</mappers>
	
</configuration>
