@charset "EUC-KR";
.contents-col-lg-6{
	-ms-flex:0 0 100%;
	flex:0 0 100%;
	max-width:100%
	};

.contents-row login_form{
	max-width: 80%;
    margin: auto;
    float: none;
}

#contents-register_form{
	max-width: 80%;
    margin: auto;
    float: none;
}

.dropdown_bang_selection{
	position: absolute;
	margin: 10px 10px;
}

.col-md-12{
	margin-bottom: 30px;
}

#dropdownMenuButton{
	margin-left: 30px;
}

.selectoption{
	position: absolute;
	margin-left: 150px;
}

.login_form .form-group{
	margin-bottom: 50px;
}

.contents-form-control{
	height: 40px;
}

.sectionoption{
	position: absolute;
}

#color_btn{
	border-radius: 5em;
}

.board_select_option{
	-webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    color: currentColor;
}

#board_color_select_option{
	    background-color: aliceblue;
}
