@CHARSET "UTF-8";


.comments_list_jsb{
	background:none;
	
}

.comments_reply_jsb{
	padding-right: 0%;
}

.comments_insert_jsb{
	padding-bottom : 20px;
}

#user justify-content-between d-flex jsb{
	justify-content: unset;	
}

.single-comment_jsb{
	border-bottom: 1px solid #ededed;
	padding-top:20px;
}

.blog_item_jsb{
	margin-bottom:10px!important;
}

#insert_file{
	width:15px;
	overflow: hidden;
}

.thumb img{
	width : 75% !important;
}

#insert_content{
	
	width : 75% !important;
}