@charset "EUC-KR";

.hw-contractor-common{
	height: 100% !important;	
}

.hw-consult-form-width{
	max-width: none !important;
}

.hw-consult-form{
    display: inline-block;
    background-color: white;
    padding-top: 30px !important;
    text-align: left !important;
}

.hw-consult-form .form-control{
	width: 40% !important;
	display: inline-block;
}

.hw-consult-form .button{
	padding: 8px 25px !important;
}

.hw-float-right{
	float : right;
}

#hw-button{
	font-size: 15px;
	color: #fff;
	margin-top: 0;
	display: inline-block;
}

#hw-button:hover{
	color: #222;
}