@charset "EUC-KR";

.msk-id{
	text-decoration:none;
	color: black;
}

#hw-search{
    position: absolute;
    top: 11px;
    z-index:3;
}

#hw-shopping-cart{
	padding-left:30px;
}

#hw-searchbar{
	padding-right:10px;
	opacity: 0;
	transition : all 0.3s ease-in-out;
}

#hw-searchbar input{
	width:0px;
	height:20px;
	transition : all 0.3s ease-in-out;
}

#hw-search button{
    position: absolute;
    top: 0;
}

#hw-searchbar.active{
	display:inline-block;
	opacity: 1;
	transition : all 0.3s ease-in-out;
}

#hw-searchbar.active input{
	width: 200px;
	transition : all 0.3s ease-in-out;
} 

.nav-shop{
	position:relative;
}

