@CHARSET "UTF-8";

.review_sidebar_jsb{
	margin-top : 30px;
	border: 1px solid #eee;
	padding:20px;
	
	margin : 0 auto;
}

.review_sidebar_alig_jsb{
	border-bottom: 2px dotted #eee;
	    margin-bottom: 20px;
}

.review_sidebar_select_jsb{
	display: flex;
	margin:10px;
}

.a_jsb{
	font-family: "Roboto",sans-serif;
	color: #222;
	
}
.review_sidebar_button_jsb{
	text-align: right;
}

.review_sidebar_count_jsb{
	float:left;
}

.jsb{
	position: relative;
    width: 680px;
    border-radius: 4px;
    background-color: #fff;
    color: #292929;
    padding: 40px 40px 0;
}


.review-modal__title{
    line-height: 1.35;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    display: block;
}



.review-modal__form__product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin: 20px 0 30px;
}

.review-modal__section {
    position: relative;
    margin-bottom: 50px;
    width: 100%;
}

.review-modal__section__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 15px;
}

.review-modal__section__explain {
    font-size: 13px;
    margin-bottom: 10px;
}

.review-modal .upload-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 15px;
    padding: 0;
    line-height: 1;
    margin-top: 10px;
}

.review-modal__section {
    position: relative;
    margin-bottom: 50px;
    width: 100%;
}

.button--color-blue-inverted {
    background-color: #fff;
    border-color: #35c5f0;
    color: #35c5f0;
}

.button {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: none;
    font-family: inherit;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color .1s,background-color .1s,border-color .1s;
    border-radius: 4px;
    cursor: pointer;
}

.review-modal__form__product__contents{
	margin-left:12px;
}

.production-review-item__container{
	border-bottom: 1px solid #ededed;
	padding-bottom: 20px;
	margin-bottom:20px;
}

#my_modal {
        display: none;
        width: 680px;
        padding: 20px 60px;
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
    }

    #my_modal .modal_close_btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .not_scroll{
    	position: fixed;
	    overflow: hidden;
	    width: 100%;
	    height: 100%
    }
    
    .blog_item_jsb{
    	margin-left: 0 !important;
    }