@charset "EUC-KR";

.row_product_hw {
	float: left !important;
	margin-right: 20px;
}

.card-img {
    width: auto !important;
    border-radius: calc(.25rem - 1px);
    height: 180px;    
}

.scraps_count {
    display: block;
    min-height: 11px;
    margin: 6px 0 0;
    color: #757575;
    font-size: 11px;
    line-height: 1;
}

.product_price {
	display: inline;
}

.production-selling-header_action_button_hw{
	background: white;
	border: none;
	float: right;
	margin: 20px;
	position: relative;
}

.s_product_text .product_count .normal-btn {
    font-size: 15px;
    padding: 7px 18px;
    background: #f9f9ff;
    border-color: #EEEEEE;
    color: #222;
    padding: 12px 50px;
    width: auto;
}

.product_image_area .production-select-button {
	display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: 100%;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    font-family: inherit;
    padding: 0;
    transition: background-color .1s;
    margin-bottom: 30px;    
}

.product_image_area .production-select-button .production-select-button__production {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    margin: 13px 16px 13px 0;
}

.production-select-button__production__icon {
    position: absolute;
    right: 0;
}

.production-select-button__production__blank {
	padding: 10px 0 11px 16px;
    font-size: 15px;
    line-height: 21px;
}

.production-select-dropdown__list-container {
	display: none;
}

.production-select-dropdown__list-container.open {
    opacity: 1;
    transform: none;
    margin-bottom: 40px;
    display: block;
}


.production-select-dropdown__list {
    max-height: 377px;
    overflow: auto;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

.production-select-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    box-sizing: border-box;
    font-family: inherit;
}
.production-select-list__item {
    display: block;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
}

.production-select-list__item .production-select-item {
    width: 100%;
    margin: 0;
    padding: 8px 20px 8px 0;
    transition: background-color .1s;
}

.production-select-item__index {
    width: 60px;
    color: #757575;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.production-select-item__image {
    position: relative;
    margin-right: 10px;
    font-size: 0;
}

.production-select-item__image .image {
    display: inline;
    width: 44px;
    height: 44px;
    border-radius: 4px;
}

.production-select-item__contents {
    width: 100%;
}

.production-select-item__contents__name {
    display: block;
    max-height: 32px;
    margin-top: 5px;
    word-break: break-all;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #424242;
    transition: opacity .1s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.production-select-item__contents__price {
    display: inline;
}

.production-item-price__rate {
    color: #35c5f0;
    margin-right: 2px;
}

.production-item-price__price {
    color: #000;
}

.production-select-item__contents__badges {
    display: inline;
    vertical-align: -4px;
    margin-left: 5px;
}

.production-select-item__contents__badges>svg {
    margin-right: 4px;
}

.selling-option-item {
    position: relative;
    margin: 0 0 8px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 6px;
    display: none;
}

.selling-option-item__production {
    margin: 0 0 10px;
    padding: 0 22px 0 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #424242;
    max-height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.selling-option-item__production+.selling-option-item__name {
    font-size: 13px;
}

.selling-option-item__delete {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    padding: 10px;
    background: none;
    border: none;
    font-size: 0;
    transition: opacity .1s;
    color: #757575;
}

.selling-option-item__controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}

.select-input>.form-control>option {
    color: #424242;
}

.option-count-input.select-input>.form-control {
    padding-right: 30px;
}

.production-selling-option-form__form .selling-option-form-content__list {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.selling-option-item__price {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #424242;
}

.option-count-input.manual.form-control, .option-count-input.select-input>.form-control {
    height: 24px;
    padding: 0 10px;
    font-size: 13px;
    line-height: 22px;
    border-radius: 3px;
    text-align: center;
    font-family: Tahoma,sans;
}

.select-input.input-group>.form-control {
    width: 100%;
}

.select-input>.form-control {
    width: 100%;
    padding-right: 30px;
    background-image: none;
}

.form-control {
    transition: .2s border-color, .2s box-shadow, .2s background-color;
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    border: solid 1px #dbdbdb;
    background-color: #ffffff;
    color: #424242;
    font-size: 12px;
}

.option-count-input {
    width: 80px;
}

.select-input {
    position: relative;
}

.selling-option-form-content__price {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    margin-top: 10px;
}

@media (min-width: 768px)
.selling-option-form-content__price__right {
    font-size: 20px;
}

.selling-option-form-content__price__left, .selling-option-form-content__price__right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-weight: 700;
    color: #000;
}